# Виртуальное окружение
venv/
.venv/
env/

# База данных (не заливаем данные, только структуру)
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Логи
*.log

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.env
.flaskenv